version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: timesheet_app
    restart: unless-stopped
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
      - ./backend/.env:/var/www/html/.env
    networks:
      - timesheet-network
    depends_on:
      - database
      - redis

  nginx_api:
    image: nginx:alpine
    container_name: timesheet_nginx_api
    restart: unless-stopped
    depends_on:
      - app
    volumes:
      - ./docker/nginx/api:/etc/nginx/conf.d
      - ./backend:/var/www/html
    ports:
      - "80:80"
    networks:
      - timesheet-network

  nginx_app:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "http://api.localhost"
        VITE_APP_URL: "http://localhost:8082"
    image: timesheet-frontend
    container_name: timesheet_nginx_app
    restart: unless-stopped
    depends_on:
      - nginx_api
    volumes:
      - ./docker/nginx/app/app.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8082:80"
    networks:
      - timesheet-network

  database:
    image: mysql:8.0
    container_name: timesheet_mysql
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: timesheet
      MYSQL_ROOT_PASSWORD: root
      MYSQL_PASSWORD: secret
      MYSQL_USER: timesheet
    volumes:
      - mysql_data:/var/lib/mysql
      - ./docker/mysql/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - timesheet-network

  redis:
    image: redis:alpine
    container_name: timesheet_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - timesheet-network

networks:
  timesheet-network:
    driver: bridge

volumes:
  mysql_data: